.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  td {
    background: #f6f6f6;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    margin: 1px;
    width: 224px;
    height: 43px;
    cursor: move;
  }

  .statusIndicator {
    margin-right: 8px;
  }

  .td-action {
    width: 50px;
    cursor: pointer;
  }
  
  th {
    cursor: move;
  }
  
  .th-action {
    cursor:default !important;
  }