.root {
  position: absolute;
  top: 20px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.td-id {
  width: 160px;
  padding-right: 15px;
}

.td-worker-name {
  width: 303px;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .th-id {
    display: none;
  }
  .td-id {
    display: none;
  }
}